/Example/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Example/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/Example/target/example-1.2.0-SNAPSHOT.jar
/Example/target/example-1.2.0-SNAPSHOT-with-dependencies.jar
/Example/target/classes/team/unnamed/example/ExampleCommand.class
/Example/target/classes/team/unnamed/example/ExamplePlugin.class
/Core/target/gui-core-1.2.0-SNAPSHOT.jar
/Example/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Example/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/.idea/modules.xml
/Example/target/classes/plugin.yml
/Example/target/maven-archiver/pom.properties
/.idea/UnnamedGUI.iml
/.idea/vcs.xml
/.idea/workspace.xml
