# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/Core/test
/Core/target
/Example/test
/Example/target
/Core/Core.iml
/Example/Example.iml
/.idea